# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/src/firebaseConfig.js
(github url) artbox-b25a6-default-rtdb-export.json
(old url version)artbox-b25a6-default-rtdb-products-export.json
(storage url) artbox-b25a6-default-rtdb-export.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
