/* * {
  box-sizing: border-box;
  letter-spacing: 0.1rem;
}

body {
  padding: 0;
  margin:0;
  position: relative;
} */


.banner {
  margin-top: 5px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 30% auto;
  grid-gap: 10px 5px;
  position: relative;
  max-width: 100vw;
  height: 100%
  /* border: 1px solid black; */
  /* background-image: */
  /* linear-gradient(to bottom, rgba(0, 81, 255, 0.5), rgba(0,0,255,0.5)), */
  /* url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Chinese_Painting_-_Flickr_-_Jaykhuang.jpg/1280px-Chinese_Painting_-_Flickr_-_Jaykhuang.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;  */
}

.banner section {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url('https://wahooart.com/Art.nsf/O/5ZKBUS/$File/Claude-Monet-Camille-Monet-at-the-Window.jpg');
  background-repeat: repeat-x;
  background-size: contain;
  background-position: left;
  background-attachment: fixed; 
  text-align: center;
  font-family:'Arial Black';
  transition: all 0.8s ease-out
}

.banner section:hover {
  transform: scale(1.02);
}

.banner__mask {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255, 0.55);
  padding: 40px;
}

.banner__mask h3 {
  font-size: 34px;
  padding: 70px 0 40px 0;
}

.banner__mask h1 {
  font-size: 43px;
  color: rgb(16, 150, 132);
}

.banner__mask h1:hover{
  text-decoration: underline;
}

.banner__mask p {
  font-size: 20px;
  margin: 30px auto;
}

.banner video {
  width: 100%;
  height: 100%;
  /* transition: all 0.4s ease-in; */
  cursor: pointer
}

.banner video:hover {
  /* transform:scale(1.01); */
}

.title {
  font-size: 70px;
  text-align: center;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
}

.contents-container {
  width: 100vw;
  margin: 0;
}

.contents {
  margin: 30px auto 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  max-width: 98vw;
  font-style: italic;
  font-size: 24px;
}

.contents-tag {
  text-align: center;
  overflow: hidden;
}

.content__card {
   position: relative;
   height: 400px;
}

.content__photo {
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  transform: scale(1,1);
  transition: all 0.4s ease-out;
}

.content__photo:hover {
  transform:scale(1.2,1.2);
}

.content-mask__text {
  padding: 5px 0;
  font-weight: 500;
  color: white;
  font-size: 38px;
  background: rgba(0,0,0,0.6);
  position: absolute;
  width: 100%;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}



